<p>
  <label for="settings_create_api_access_key"><%= l(:option_create_api_access_key) %></label>
  <%= hidden_field_tag 'settings[create_api_access_key]', '0' %>
  <%= check_box_tag 'settings[create_api_access_key]', '1', @settings[:create_api_access_key] == '1' %><br/>
  <label for="settings_filesystem_mode"><%= l(:option_filesystem_mode) %></label>
  <%= hidden_field_tag 'settings[filesystem_mode]', '0' %>
  <%= check_box_tag 'settings[filesystem_mode]', '1', @settings[:filesystem_mode] == '1' %>
</p>
